#
# MonoDevelop workspace, solution, project, userprefs files
#

#*.mdw
#*.sln
#*.csproj
*.userprefs

#
# Binary output files
#
*/[Bb]in
*/[Oo]bj
*.exe
*.dll
*.mdb

#
# Not sure exactly what these are but not needed
#
*.pidb

#
# Files backed up when saving
#
*~
