<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<behaviors>
			<!-- List of Behaviors -->
		</behaviors>
		<client>
			<!-- List of Endpoints -->
		</client>
		<diagnostics wmiProviderEnabled="false" performanceCountersEnabled="false" tracingEnabled="false">
		</diagnostics>
		<serviceHostingEnvironment>
			<!-- List of entries -->
		</serviceHostingEnvironment>
		<comContracts>
			<!-- List of COM+ Contracts -->
		</comContracts>
		<services>
			<service name="ArtefactRepository" behaviourConfiguration="">
				<host>
      				<baseAddresses>
         				<baseAddress baseAddress="net.tcp://localhost:4444" />
      				</baseAddresses>
      				<timeOuts closeTimeout="00:00:10" openTimeout="00:00:10" />
				</host>
				<endpoint name="Artefacts" address="/Artefacts/"
					contract="IArtefactRepository" binding="netTcpBinding" bindingNamespace="" />
			</service>
		</services>
		<bindings>
			<!-- List of Bindings -->
		</bindings>
	</system.serviceModel>
</configuration>